@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$tiger-orange: #FF8240;

html, body {
  margin: 0;
  padding: 0;
  cursor: default;
}

.navbar {
  background-color: transparent;
  border-radius: 0;
  border: 0;

  li {
    a {
      color: #999;
    }

    &.active {
      a {
        color: #000;
        background-color: transparent !important;
      }
    }
  }
}

.btn-primary {
  background-color: $tiger-orange;
  color: #fff;
  border: 0;
}

.btn-default {
  border-color: $tiger-orange;
  color: $tiger-orange;
}

#carousel {
  .placeholder {
    height: 400px;
    background-color: #777;
  }
}

#tagline {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#apps {
  padding-bottom: 50px;

  :first-child {
    text-align: right;
  }

  :last-child {
    text-align: left;
  }
}

#news {
  padding-bottom: 50px;

  .placeholder {
    height: 150px;
    background-color: #777;
  }
}

#footer {
  .col-xs-12 {
    padding-top: 35px;
    padding-bottom: 35px;
    border-top: solid 1px #DDD;
  }

  ul, li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    line-height: 2;
  }
}
